NODE_ENV=development
PORT=3000
FRONTEND_URL=http://localhost:5173

SUPABASE_URL = https://ihfbdvrgpenkxutpahfg.supabase.co
SUPABASE_PUBLISHABLE_KEY = sb_publishable_D9P767NCS0lETnRFcYF1xw_W9EJfsA1
SUPABASE_SECRET_KEY = 