NODE_ENV=development
PORT=3000
FRONTEND_URL=http://localhost:5173

SUPABASE_URL = https://ihfbdvrgpenkxutpahfg.supabase.co
SUPABASE_PUBLISHABLE_KEY = sb_publishable_D9P767NCS0lETnRFcYF1xw_W9EJfsA1
SUPABASE_SECRET_KEY = sb_secret_0uUHG91j5oM_5WgZpPlsXA_MtauOVZW
SUPABASE_SERVICE_ROLE_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImloZmJkdnJncGVua3h1dHBhaGZnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDg3MjQ4NCwiZXhwIjoyMTAwNDQ4NDg0fQ.3qvlCUZz878XxoqKCuwrHVCl8bnBvPqbQsQ1A_2t65I
SUPABASE_ANON_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImloZmJkdnJncGVua3h1dHBhaGZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ4NzI0ODQsImV4cCI6MjEwMDQ0ODQ4NH0.P6VGETRfGBCYvjTNQQs1-veE_sXrNvSxZ9uqkOEc4C8